<div class="col-xs-12" ng-controller="manager_login">
			<div class="container wrapper" style="border:1px solid #e5e5e5; padding-bottom:15px;">
				<div class="col-xs-12 no-padding">
				<img src="/src/assets/img/logo0.png" class="img-responsive pull-left" style="height:45px; margin-bottom:15px;">
				<h1>행사관리솔루션</h1>
				</div>
				<div class="login-wrapper">
					<h2><i class="fa fa-unlock-alt"></i>
 LOG-IN </h2>
					<form class="form-horizontal">
						<div class="col-xs-8">
							<div class="form-group">
								<label for="inputId" class="col-xs-2 control-label">ID</label>
								<div class="col-xs-10">
									<input type="text" class="form-control" id="inputId" placeholder="ID를 입력하세요" ng-model="id">
								</div>
							</div>
							<div class="form-group no-margin">
								<label for="inputPass" class="col-xs-2 control-label">Password</label>
								<div class="col-xs-10">
									<input type="password" class="form-control" id="inputPass" placeholder="Password를 입력하세요" ng-model="pass">
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<button  class="btn btn-success btn-login btn-block" ng-click="login_go()">
								LOGIN
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>