<form class="form-horizontal form-entry" ng-controller="teacherInserCtr">
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="teacherName1" class="control-label">성명</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="teacherName1" ng-model="teacherName1">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="teacherParty1" class="control-label">소속</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="teacherParty1" ng-model="teacherParty1">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="teacherCall1" class="control-label">연락처</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="teacherCall1" placeholder="'-' 를 제외하고" ng-model="teacherCall1">
        </div>
    </div>
    <div class="pull-right del-sav" style="padding-right:10px;">
        <button class="btn btn-success" ng-click="teacherInsert()">
            저장
        </button>
    </div>
</form>