<form class="form-horizontal form-entry" ng-controller="entryModCtr">
    <input class="hidden" ng-model="entryEventId1">
    <input class="hidden" ng-model="entryUserClassId1">
    <input class="hidden" ng-model="entryUserId1">
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="entryName" class="control-label">성명</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="entryName" ng-model="entryName">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="entryParty" class="control-label">소속</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="entryParty" ng-model="entryParty">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4 text-center">
            <label for="entryCall" class="control-label">연락처</label>
        </div>
        <div class="col-xs-7 no-padding">
            <input type="text" class="form-control input-sm" id="entryCall" placeholder="'-' 를 제외하고" ng-model="entryCall">
        </div>
    </div>
    <div class="pull-right del-sav" style="padding-right:10px;">
        <button class="btn btn-danger" ng-click="entryDelete()">
            삭제
        </button>
        <button class="btn btn-success" ng-click="entryMod()">
            저장
        </button>
    </div>
</form>