
		<div class="container" ng-controller="event_register">
			<!--행사리스트 제목-->
			<div class="cont-border">
				<div class="title-wrap">
					<div class="col-xs-12">
						<h3>행사리스트</h3>
					</div>
				</div>
				<!--/행사리스트 제목-->
				<!--행사 리스트-->
				<div class="col-xs-12">
					<div class="tabbable" id="tabs-640270">
						<ul class="nav nav-tabs event-tab" ng-init="tab = 1">
							<li class="active" ng-class="{active:tab===1}">
								<a href ng-click="tab = 1">진행 행사</a>
							</li>
							<li ng-class="{active:tab===2}">
								<a href ng-click="tab = 2">지난 행사</a>
							</li>
						</ul>
						<button class="btn btn-green pull-right" style="margin-top:-38px;" ng-click="new_event_insert()">
							<i class="fa fa-plus-circle"> </i> 추가
						</button>
						<div class="tab-content">

							<div class="tab-pane active" ng-show="tab === 1">
								<div class="fix-height">
									<table class="table table-hover text-left e-list">
										<thead>
											<tr>
												<td style="width:120px;">시작일자</td>
												<td style="width:120px;">종료일자</td>
												<td style="width:414px;">행사명</td>
												<td>장소</td>
											</tr>
										</thead>
										<tbody ng-repeat="item in item1" >
											<tr>
												<td><a href="#" ng-click="new_list_click(item.event_ID)">{{item.event_start}}</a></td>
												<td><a href="#" ng-click="new_list_click(item.event_ID)">{{item.event_end}}</a></td>
												<td><a href="#" ng-click="new_list_click(item.event_ID)">{{item.event_name}}</a></td>
												<td><a href="#" ng-click="new_list_click(item.event_ID)">{{item.event_location}}</a></td>
											</tr>
											<!--<tr>
												<td><a href="#">2015.02.23</a></td>
												<td><a href="#">2015.02.25</a></td>
												<td><a href="#">제 37회 동계학술제</a></td>
												<td><a href="#">메리어트 호텔</a></td>
											</tr>-->
										</tbody>
									</table>
								</div>
								<ul class="pagination pagination-sm list-pages center-block">
									<li>
										<a href="#"><i class="fa fa-angle-double-left"> </i></a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-angle-double-right"> </i></a>
									</li>
								</ul>
							</div>
							<div class="tab-pane active"  ng-show="tab === 2">
								<div class="fix-height">
									<table class="table table-hover text-left e-list">
										<thead>
											<tr>
												<td style="width:120px;">시작일자</td>
												<td style="width:120px;">종료일자</td>
												<td style="width:414px;">행사명</td>
												<td>장소</td>
											</tr>
										</thead>
										<tbody ng-repeat="item2 in item2">
											<tr>
												<td><a href="#" ng-click="old_list_click(item2.event_ID)">{{item2.event_start}}</a></td>
												<td><a href="#" ng-click="old_list_click(item2.event_ID)">{{item2.event_end}}</a></td>
												<td><a href="#" ng-click="old_list_click(item2.event_ID)">{{item2.event_name}}</a></td>
												<td><a href="#" ng-click="old_list_click(item2.event_ID)">{{item2.event_location}}</a></td>
											</tr>
											<!--<tr>
												<td><a href="#">2015.02.23</a></td>
												<td><a href="#">2015.02.25</a></td>
												<td><a href="#">제 37회 동계학술제adfasdffffff</a></td>
												<td><a href="#">메리어트 호텔</a></td>
											</tr>-->
										</tbody>
									</table>
								</div>
								<ul class="pagination pagination-sm list-pages center-block">
									<li>
										<a href="#"><i class="fa fa-angle-double-left"> </i></a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-angle-double-right"> </i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>




			<!--/ 행사리스트-->
			<!--행사상세보기-->
			<div class="cont-border" ng-if="detail_show==1">
				<div ng-include="'src/app/html/110_00_event_register/110_01_event_register_mod.html'"></div>
			</div>

			<div class="cont-border" ng-if="detail_show==2">
				<div ng-include="'src/app/html/110_00_event_register/110_02_event_register_insert.html'"></div>
			</div>

		</div>




